{% extends "base.html" %}

{% block title %}Detail of brick{% endblock %}

{% block content %}
<div class="row mt-5 mb-3">
    <div class="col-lg-6 mb-3">
        <h2> {{ brick.name|upper }} </h2>
        <p>Color: {{ brick.color }}</p>
        <p>Name: {{ brick.name }}</p>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ brick.image }}" data-toggle="lightbox" data-gallery="gallery">
                    <img src="{{ brick.image }}" class="img-fluid" alt="Image of brick">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}





