{% block content %}
<div class="row mt-3 mb-3 bg-warning p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Nejlépe hodnocené filmy</h2>
    </div>
</div>
<div class="row">
    {% for film in films %}
    <div class="col-sm-4">
        <div class="card">
            {% if film.image %}
            <img class="card-img-top" src="media/{{ film.image }}" alt="{{ film.name }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">Name: {{ film.name }}</h4>
                <p><strong>Color:</strong> {{ film.color }}</p>
                <a href="#" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet filmů:</strong> {{ num_films }}
    </div>
</div>
{% endblock %} 