{% extends "base.html" %}

{% block content %}
<div class="row mt-3 mb-3 bg-warning p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Few Bricks</h2>
    </div>
</div>
<div class="row">
    {% for brick in bricks %}
    <div class="col-sm-4">
        <div class="card">
            {% if brick.image %}
            <img class="card-img-top" src="media/{{ brick.image }}" alt="{{ brick.name }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">Name: {{ brick.name }}</h4>
                <p><strong>Color:</strong> {{ brick.color }}</p>
                <a href="{% url 'brick-detail' brick.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Number of all brick types:</strong> {{ number_of_bricks }}
    </div>
</div>
{% endblock %} 